.App {
    font-family: Arial, sans-serif;
}

/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e6dbdb37;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Sidebar links */
.sidebar a {
    padding: 7px 8px 7px 10px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.2s;
    margin-bottom: 10px;
}
.Items-pvt a{
    padding: 0;
    margin-bottom: 0;

    align-items: center;
    cursor: pointer;
    color: #777;
    

    display: block;
    font-size: 14px;
    font-weight: 500;
    
}

/* Sidebar close button */
.sidebar .closebtn {
    position: absolute;
    top: 45px;
    right: 25px;
    font-size: 30px;
}

/* When the sidebar is open */
.sidebar.open {
    width: 23vw;
    padding-top: 6.5vw;
}

/* The main content */
.main {
    transition: margin-left .5s;
    padding: 10px;
}

/* Hamburger menu */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    
}
/* //sidebar Starts*/
.user-pvt{
    font-size: 17px;
    font-weight: 600;
    border: none;
    background-color: inherit;
    outline: none;
    cursor: pointer;
    margin: 10px 5px 10px 10px;
    display: flex;
}
.user-pvt p{
    float: right;
    padding-right: 10px;
    margin-left: 1vw;
}
.Items-pvt{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #777;
    background-color: #f5f5f5;
    padding: 5px 0px 5px 20px;
    display: block;
    font-size: 14px;
    font-weight: 500;
    
}



.Items-pvt:hover{
    color:black;
    background-image: linear-gradient(165deg, rgb(195, 223, 241) 30%, #e2f34f6b 100%);;
   
    font-weight: 600;
    
}
.Items-pvt a:hover{
    color:black;
    background-image: linear-gradient(165deg, rgb(195, 223, 241) 30%, #e2f34f6b 100%);;
    /* background-color: rgb(195, 223, 241); */
    font-weight: 600;
    font-size: 15px;
    
}


/* Dashboard Header */
.dashoboard-main-header{
    position: relative;
    z-index: 1030;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #082c41;
    display: flow-root;
}
.dashboard-text{
    z-index: 1;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

.dashoboard-main-header .operator-hide{
    float: right;
    padding-right: 2%;
}
.dashoboard-main-header .operator-hide img{
    height:40px;
    width:40px;
    margin-top:5px;
    border-radius: 50%;
    border: 2px solid lightgray;
    
    
}
.dashoboard-main-header .operator-hide img:hover{
    border: none;
    
    
}
.dashoboard-main-header .logo-lg {
    display: block;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: white;
    margin-right: 20px;
}

.dashoboard-main-header .navbar-custom-menu{
    float: right;
    margin-top: 50px;
  
}
.dashoboard-main-header .navbar-custom-menu ul{
    right: 0;
    left: auto;
    position: absolute;
}

.dashoboard-main-header .navbar-custom-menu li.user-header {
    height: 225px;
    padding: 10px;
    text-align: center;
    background-color: #f3ecd5;
}
.dashoboard-main-header .navbar-custom-menu img.img-header {
    text-align: center;
    height: 100px;
    width: 100px;
    border: 3px solid; 
    border-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 20px;
    background-color: white;
}
.dashoboard-main-header .navbar-custom-menu p.text-logout  {
    color: black;
    /* color: rgba(255,255,255,0.8); */
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 8px;
}
.dashoboard-main-header .navbar-custom-menu p.text-logout-2  {
    color: black;
    /* color: rgba(255,255,255,0.8); */
    font-size: 14px;
    margin-top: 3px;
    
}
.dashoboard-main-header .navbar-custom-menu li.user-footer {
    background-color: #f9f9f9;
    margin: 10px;
    float: right;
}

.dashoboard-main-header .navbar-custom-menu li.user-footer button:hover{
    background-color:rgba(15, 10, 39, 0.437);
}
.dashoboard-main-header .navbar-custom-menu .dropdown-menu{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 250px;
}
.dashboard-btn{
    Display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid transparent;
    margin-left: 5px;
    margin-right: 5px;

}


.dashboard-btn-default
{
    color: white;
    border-color: #ddd;
    background-color: #132b39c2;
}

@media screen and (max-width: 999px) {

    .sidebar a {
        font-size: 25px;

        
    }

    .sidebar.open {
        width: 65vw;
            padding-top: 25vw;
        
    }
    .user-pvt p{
        font-size: 16px;
        padding-left: 2vw;
    }

    .Items-pvt a{
        padding: 0;
        margin-bottom: 0;
    
        align-items: center;
        cursor: pointer;
        color: #777;
        
    
        display: block;
        font-size: 14px;
        font-weight: 500;
        
    }
  

}